.header{
  background-color:rgb(36, 36, 36);
  height:70px;
  padding:0 60px 0 60px;
  font-size:18px;
  font-weight:200;
}

.headerElems{
  height:inherit;
  display:inline-flex;
  align-items:center;
  gap:60px;
  float:right;
  list-style-type:none;
  padding:0px;
  margin:0px;
}

.navig{
  color:white;
}

.navig :hover{
  color:orange;
  transition:color 0.3s ease-out;
}

.logo{
  height:inherit;
  display:flex;
  align-items:center;
  float:left;
}