@font-face{
	font-family:Roboto;
	src: url("/fonts/Raleway-VariableFont.ttf");
}

body{
  margin:0px;
  background-color:rgb(42, 42, 42);
  color:white;
  font-family:Roboto;
}

a{
  text-decoration:none;
  color:white;
}


